#segment-height {
  min-height: 100vh;
}
#valid-text {
  color: #b31020;
}
#modal {
  height: 30vh;
  width: 50vw;
}
#sidebar {
  width: 30vw;
}
#active {
  background-color: #b31020;
  color: #fff;
}
#home {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
#signin,
#signup {
  color: #b31020;
  text-decoration: none;
  text-align: left;
}
#ul {
  padding: 0;
}
#li {
  list-style: none;
}
#item {
  text-transform: uppercase;
  font-size: 14px;
}
#ui-nav {
  background-color: #fff;
  padding: 5px 10px;
}
#logo-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: contain;
  border: 1px solid #b31020;
}
form {
  margin: 10% 16% 0 16%;
}
#button {
  color: #b31020;
  margin-top: 3%;
}
#button:hover {
  background-color: #b31020;
  color: #fff;
}
#container {
  padding-top: 3%;
}
#content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#stocktable {
  width: 80vw;
}
#bar {
  margin-top: 5%;
}
#progress-bar {
  width: 60vw;
  padding-top: 3%;
  padding-bottom: 8%;
}
#images {
  background-image: url(./Assets/brands.jpg);
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#grid {
  padding: 50px 30px;
  background-color: #b31020;
  color: #fff;
}
#footer {
  padding: 0;
  margin: 0;
}
#footer-content {
  /* justify-content: space-around; */
  text-align: right;
}
#images {
  object-fit: cover;
}
#merchtable {
  width: auto;
}
#updatestocks-header {
  text-align: center;
  color: #b31020;
  padding-bottom: 3%;
  text-transform: uppercase;
}
#stockvalue,
#measurement {
  margin-top: 2%;
}
/* #selectprod {
} */
#selectprod h6,
#stockvalue h6,
#selectreq h6 {
  font-size: 12px;
}
#stockvalue {
  margin-bottom: 2%;
}
.editstock {
  width: 100%;
}
#position {
  right: auto;
}
#makerequest {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#product {
  min-width: 250px;
}
.txtarea {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.list p {
  border: 1px solid #b31020;
  min-width: 250px;
  padding: 15px;
  font-size: 14px;
}
.list p input,
.dashboard-value input {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.list p input:focus,
.dashboard-value input:focus {
  outline: none;
}
#input,
#prod,
#rgb,
#can,
#pet {
  max-width: 300px;
  margin-bottom: 5%;
  margin-top: 5%;
  padding: 20px;
  border: 1px solid #b31020;
}
#prod-list {
  width: 300px;
  padding: 15px;
  display: flex;
  margin-bottom: 2%;
  justify-content: space-between;
  border: 1px solid #b31020;
}
.close {
  cursor: pointer;
  padding-left: 10px;
}
#prod-no {
  width: 120px;
  padding: 20px;
  border: 1px solid #b31020;
}

@media screen and (max-width: 420px){
  #sidebar {
    width: 50vw;
  }
}